<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SOIB</title>
</head>

<body>
    <h1> Tutaj powstaje projekt z soib</h1>
    <!-- <div class="etabs-tabgroup">
        <div class="etabs-tabs"></div>
        <div class="etabs-buttons"></div>
    </div>
    <div class="etabs-views"></div> -->
    <input type="button" onclick="getDataSi()" value="SiO2" />
    <input type="button" onclick="getDataSiO()" value="SiO2GiO2" />
    <input type="button" onclick="getDataGe()" value="GeO2" />
    <input type="button" onclick="getDataAl()" value="Al2O3" />
    <input type="button" onclick="getDataZr()" value="ZrO2" />

    <canvas id="myChart" width="400" height="400"></canvas>
    <!-- <script src="Chart.bundle.min.js"></script> -->
    <script src="../../dist/view/index.js"></script>
</body>

</html>