<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SOIB</title>
</head>

<body>
    <h1> Tutaj powstaje projekt z soib</h1>
    <!-- <div class="etabs-tabgroup">
        <div class="etabs-tabs"></div>
        <div class="etabs-buttons"></div>
    </div>
    <div class="etabs-views"></div> -->


    <canvas id="myChart" width="400" height="400"></canvas>
    <div class="buttonbar">
        <button onclick="getDataSi()" id="SiO2">SiO2</button>
        <button onclick="getDataSiO()" id="SiO2GiO2">SiO2GiO2</button>
        <button onclick="getDataGe()" id="GeO2">GeO2</button>
        <button onclick="getDataAl()" id="Al2O3">Al2O3</button>
        <button onclick="getDataZr()" id="ZrO2">ZrO2</button>
    </div>
    <!-- <script src="Chart.bundle.min.js"></script> -->
    <script src="../../dist/view/index.js"></script>
</body>

</html>