<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SOIB</title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <center>
        <h1>Zależność Sellmeier'a</h1>
    </center>

    <!-- <div class="etabs-tabgroup">
        <div class="etabs-tabs"></div>
        <div class="etabs-buttons"></div>
    </div>
    <div class="etabs-views"></div> -->
    $$n^2 - 1 = \sum_{i=1}^3 \frac{G_i\lambda^2}{\lambda^2 - \lambda_i^2}$$

    <center>\(G_i\) oraz \(\lambda_i\) \([\mu m]\) zależą od składu materiału:</center>

    <center>
        <span id="material"></span></center>
    <div><span>Min Value</span> <label for="axisy"></label> <span>
            <input type="text" name="axisy" value="0.5" id="minvalue"></span></div>
    <div><span>Max Value</span> <label for="axisy"></label> <span>
            <input type="text" name="axisy" value="4" id="maxvalue"></span></div>
    <div><span>Step</span> <label for="axisy"></label> <span>
            <input type="text" name="axisy" value="0.01" id="step"></span></div>
    <div><button type="submit" onclick="setData()">Submit</button></div>


    <!-- When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$ -->

    <canvas id="myChart" width="500" height="190"></canvas>
    <div class="buttonbar">
        <button class="active" onclick="getData('SiO2')" id="SiO2">\(SiO_2\)</button>
        <button onclick="getData('SiO2GiO2')" id="SiO2GiO2">\(SiO_2GiO_2\)</button>
        <button onclick="getData('GeO2')" id="GeO2">\(GeO_2\)</button>
        <button onclick="getData('Al2O3')" id="Al2O3">\(Al_2O_3\)</button>
        <button onclick="getData('ZrO2')" id="ZrO2">\(ZrO_2\)</button>
    </div>
    <script src="../../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="../../node_modules/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>
    <script>

    </script>
    <script src="../../dist/view/index.js"></script>
</body>

</html>